.date-time {
    text-align: right;
}

.date {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.225;
    color: #bbb;
    margin-bottom: 0.25rem;
}

.date span {
    padding: 0 0.5rem;
}

.time {
    font-size: 3.25rem;
    line-height: 1;
    font-weight: 300;
}

.seconds {
    margin-left: 6px;
    margin-right: 12px;
    color: #bbb;
    font-size: 50%;
    line-height: 50%;
    vertical-align: super;
}
